body {
	background-color: #ddd;
	margin: 0px;
}

body, p, input {
	font-family: Segoe UI, San Francisco, Helvetica Neue, Helvetica, Arial, Roboto, sans-serif;
	font-size: 12pt;
}

div#nav {
	background-color: #777;
	color: #fff;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}

#navtoggle {
	width: 0px;
	height: 0px;
	position: absolute;
}

#nav ul, #header ul {
	display: flex;
	margin: 0;
	list-style-type: none;
	align-items: center;
}

div#nav li {
	max-width: 200px;
}


div#content {
	padding: 0px 20px 0px 20px;
}

div#nav ul#navitems {
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
}

div#footer {
	padding: 10px 20px 10px 20px;
	border-top: 1px #aaa solid;
}

form#search {
	display: flex;
}

form#search input[type="text"]#search_query {
	border: 1px #ccc solid;
	margin: 8px 2px 8px 2px;
	padding: 4px;
	font-size: 9pt;
}

form#search input[type="text"]#search_query::placeholder {
	color: #ccc;
	font-style: italic;
}

form#search input[type="submit"]#search_button {
	width: 0px;
	height: 0px;
	border: none;
	padding: 0px;
}

form#search input[type="submit"]#search_button + label {
	display: flex;
	align-items: center;
	margin: 8px 8px 8px 2px;
	border: 1px #ccc solid;
	background-color: #bbb;
}

form#search input[type="submit"]#search_button + label:after {
	content: "\1f50d";
}

div.search_result h3, div.search_result p {
	margin: 0.2em 0px 0px 0px;
}

div.search_result p {
	font-size: 10pt;
}

div.search_result {
	margin: 1em 0px 1em 0px;
}

@media screen and (min-width: 901px) {
	
	div#main {
		width: 900px;
		margin: 0px auto;
		overflow: hidden;
		background-color: #fff;
		box-shadow: 2px 2px 5px #000;
	}
	
	#headerlogo li.navbutton{
		display: none;
	}

	#headerlogo {
		padding: 0px 20px 0px 20px;
	}

	#nav ul a, #header ul a {
		text-decoration: none;
		color: inherit;
		display: flex;
	}

	div#nav ul a:hover {
		background-color: rgb(0, 0, 0, 0.1);
	}


	div#nav li {
		display: flex;
		padding: 8px 20px 8px 20px;
		align-items: center;
	}
}

@media screen and (max-width: 901px) {
	
	div#header {
		border-bottom: 1px #aaa solid;
	}
	
	body {
		margin: 0px;
	}	
	
	div#main {
		width: 100%;
		background-color: #fff;
	}
	div#nav {
		font-size: 16pt;
		display: block;
	}
	div#header ul#headerlogo {
		justify-content: space-between;
		padding: 0px 20px 0px 20px;
	}
	
	div#nav ul#navitems {
		padding: 0px 20px 0px 20px;
	}

	div#nav ul a, div#header ul a {
		text-decoration: none;
		color: inherit;
	}

	div#nav ul a:hover {
		color: #fff;
	}

	div#nav li, div#header li {
		padding: 8px;
	}
	
	#navtoggle ~ #nav {
		height: 0px;
	}
	
	#navtoggle:checked ~ #nav {
		height: auto;
	}
	
	form#search {
		width: 100%;
		padding: 0px 20px 0px 20px;
	}
}